<!--
<p>Bonjour on est bien sur {{title}}</p>

<app-child-a></app-child-a>
<app-child-b></app-child-b>
-->


<!--

<div class="alert alert-success">
  Bonjour BOttstrap <i class="fas fa-smile-0"></i>>
</div>
&lt;!&ndash; porperty binding => bind the property style.backgroundColor of div element to the variable bgColor of my appcomponent.ts   &ndash;&gt;
<div [hidden]="show" [style.backgroundColor]="bgColor">
  &lt;!&ndash;  interpolation to retrieve a file of an information from ts to html file &ndash;&gt;
  Binding {{ bgColor }}
</div>
&lt;!&ndash;event binding => binding on the click element of the button change the status of the div &ndash;&gt;
<button class="btn btn-danger" (click)="changeStatus()">Allumer/eteindre</button>
-->
<!--<app-color></app-color>-->


<app-cv></app-cv>
